*{
    color: white;
}

img {
    width: 100%;
}
#recomment {
    .card {
        background-color: #10141f;
        border: none;

        ul {
            color: white;
            li:first-child {
                list-style: none;
            }
        }

        #bookmark {
            background-color: rgba(128, 128, 128, 0.43);

            padding: 15px;
            width:  25px;
            height: 25px;
            .img {
            width:  15px;
            height: 15px;
            }
            
        }

    }
}