*{
    color: white;
}

img {
    width: 100%;
}
#trending {
    .col-4 {
        img {
            border-radius: 15px;
        }
    }
    #bookmark {
        margin-right: 36px;
        margin-top: 24px;
        background-color: gray;
        border-radius: 50%;
    }
        
    
    ul {

        padding-left: 0;
        li:first-child {
            list-style: none;
        }
        
    }

}