<div id="nav" class="col-1 d-flex flex-column justify-content-between">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <img class="mb-5" id="logo" [src]="logoUrl" alt="this is a logo" />
    <div
      id="nav-img"
      class="d-flex flex-column align-items-center gap-5 justify-content-center mt-5"
    >
      <img
        *ngFor="let icon of iconList"
        [src]="icon.url"
        [alt]="icon.description"
      />
    </div>
  </div>
  <img src="../assets/image-avatar.png" alt="" />
</div>
